@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	height: 400vh;
	background-color: white;
}
li{
	list-style: none;
	
}
p{
	word-wrap: break-word;
}
a{
	text-decoration: none;
	color: #222222;
	font-size: 1rem;
}
a:hover {
	color: blue;
}
/* Header */
header{
	position: relative;
	padding: 0 2rem;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1; /* Ensure the overlay is above the image */
}
/* NAVIGATION  */
.navbar{
	width: 100%;
	height: 60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items:center;
	justify-content:flex-end ;
}
.navbar .logo{
	margin-right: auto;
}

.navbar .logo a{
	font-size: 1.5rem;
	color: black;
	font-weight: bold;
}

.navbar .links{
	display:inline-flex;
	gap: 2rem;
}

.action_btn{
	background-color: blue;
	color: whitesmoke;
	padding: 0.5rem 1rem ;
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 0.9rem;
	font-weight: bold;
	cursor: pointer;
	transition: scale 0.2 ease;
	
}
.action_btn:hover{
	color: lightblue;

}
.action_btn:active{
	scale:0.95;
}
/* HERO BANNER */
.hero {
	height: 480px;
	background-color: #151e3d;
	z-index: -2;
}
.hero-container { 
	width: 100%;
	height: 520px;
	max-width: 1200px;
	margin: 0 auto;
	display: grid;	
	/* box-shadow: 0px 5px 6px -6px rgba(95, 115, 128, .44); */
}
.hero-text-wrapper {
	padding-left: 6rem;
	padding-top: 3rem;
	padding-bottom: 5rem;
	z-index: 1;
}
.hero-text-wrapper h1{
	font-size: medium;
	color: white;
	animation: fade-right 2s;
}
.hero-text-wrapper h2{
	font-size: 5rem;
	color: white;
	animation: fade-right 2s;

}
.hero-text-wrapper p{
	font-size: medium;
	color: white;
	animation: fade-right 2s;
}

/* CLIENT QUOTE BUTTON */
.hero-quote-wrapper {
	margin: 2.75rem;
	animation-duration: 2s;
	animation-delay: 10s;
	animation: fade-in 5s;
    display: flex;
    gap: .875rem;	
}
.hero-quote-link {
	display: inline-block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    border-radius: .25rem;
    background-color: blue;
    color: white;
    
    transition: transform 300ms ease 0ms, box-shadow 300ms ease 0ms;
}
.hero-quote-link:hover{
	color: skyblue;
}
/* HERO IMAGE */
.hero-image-wrapper {
	display: flex;
	position: absolute;
	top: 105px;
	left: 52%;

}
.hero-image { 

	height: 500px;
	position: relative;
	right: 200px;
	bottom: 50px;
	z-index: 0;
}

/* COMPANY DETAILS CARD */
.company-details-grid { 
	padding-top: 4rem;	
	padding-bottom: 3rem;
	width: 100%;
	height: 500px;
	max-width: 1200px;
	margin: 0 auto;
	display: grid;	
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin-bottom: 2rem;
	
}
/* CARDS */
.card{ 
	padding: 2rem;
	display: grid;
	gap: 1rem;
	background-color: var(--extra-light);
	border-radius:5px ;
	box-shadow: 0px 6px 8px -6px rgba(0,0,0,0.1);
	cursor: pointer;
	padding: 0 2rem 0 1.5rem;
    border-left: 1px dashed rgba(95, 115, 128, .25);
}
.a2-card{ 
	padding: 1rem;
	display: grid;
	gap: 1rem;
	padding: 0 1rem 0 1rem;
    
}
.card .heart-pulse1{
	margin:1rem 0;
}
.card h1{
	margin:1rem 0;
	font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: lighter;
	color: #1c05b3;


}
.card p{
	margin:1rem 0;
	font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
	text-align: justify;
	color: #222222;
	text-indent: 3rem;
}


/* CONTAINERS */
.whitegraybg { 
	background-color:#f7f9fa;
}
.a1-container { 
	padding-top: 1rem;	
	width: 100%;
	height: 300px;
	max-width: 1000px;
	margin: 0 auto;
	display: grid;	
	grid-template-columns: repeat(2, 1fr);
}
.a2-container { 
	padding-top: 2rem;	
	padding-bottom: 2rem;
	width: 100%;
	height: 100px;
	max-width: 1000px;
	margin: 0 auto;

}
.white-container { 
	padding-top: 1rem;	
	width: 100%;
	height: 100px;
	max-width: 1000px;
	margin: 0 auto;
}
#whoweare{ 
	padding-top: 3rem;
	padding-bottom: 15rem;
	width: 100%;
	height: 400px;
	max-width: 1000px;
	margin: 0 auto;
	display: grid;	
	grid-template-columns: repeat(2, 1fr);
}
#whoweare h2{ 
	color: #1c05b3;
	padding-left: 3rem;
	font-size: 2rem;
	font-weight: lighter;
}
#whoweare p{ 
	text-align: justify;
	text-indent: 2rem;
	color: #222222;
	line-height: 1.5rem;

}
/* value what matters*/
.a2-container h2{
	color: #1c05b3;
	text-align: center;
	letter-spacing: 2px;
}
#valuematters h2{
	font-size:30px;
	font-weight: normal;
}
/* SERVICES */
#whatwedo {
	padding-bottom: 10rem;
}
#whatwedo h2{ 
	color: #1c05b3;
	text-align: center;
	font-weight: lighter;
	font-style: italic;
}
#whatwedo p{ 
	color: black;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 1.5px;
}
.apply-wrapper{ 
	text-align: right;
	padding-top: 1rem;
}
.apply-btn{
	background-color: blue;
	color: whitesmoke;
	padding: 0.5rem 1rem ;
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 0.9rem;
	font-weight: bold;
	cursor: pointer;
	transition: scale 0.2 ease;
	
}
.apply-btn:hover{
	color: lightblue;

}
.apply-btn:active{
	scale:0.95;
}
.centered-text-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    gap: .875rem;	
	z-index: 2;
  }
.centered-text-wrapper a { 
	display: inline-block;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    border-style: solid;
	border-color: white;
    background-color: transparent;
    color: white;
}
/* SERVICES */
.services-text {
	gap: 1rem;
	padding-right: 1rem;
}

.services-text h1{
	margin:1.5rem 0;
	font-size: 2rem;
    line-height: 1.75rem;
    font-weight:lighter;
	color: #1c05b3;
}

.services-text p{
	text-indent: 2rem;
	margin:1rem 0;
	font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
	color: #222222;
	text-align: justify;
}

.a3-container { 
	padding-top: 1rem;	
	width: 100%;
	height: 600px;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;	
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}
.img-handshake { 
	width: 35rem;
}

/* TESTIMONIAL OF AGENTS */
.testimonial{

	text-align: center;
	padding: 6rem 0 1rem 0;
}
.testimonial h2{
	color: #1c05b3;
	letter-spacing: 2px;
	font-size: 30px;
	font-weight: lighter;
}
.slider-container{
	height: 50vh;
	margin: 0 auto;
	max-width: 1200px;

}
.swiper {
	width: 100%;
	height: 100%;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .swiper-slide img {
	
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

.snip1533 {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	color: #222222;
	display: inline-block;
	font-size: 16px;
	margin: 35px 10px 10px;
	max-width: 310px;
	min-width: 250px;
	position: relative;
	text-align: center;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border-top: 5px solid lightgreen;
  }
  .snip1533 img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 5px;
  }
  
  
  .snip1533 figcaption {
	padding: 13% 10% 12%;
  }
  
  .snip1533 figcaption:before {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	color: #1c05b3;
	content: "\f10e";
	font-family: 'FontAwesome';
	font-size: 32px;
	font-style: normal;
	left: 50%;
	line-height: 60px;
	position: absolute;
	top: -30px;
	width: 60px;
}
  
  .snip1533 h3 {
	color: #222222;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin: 10px 0 5px;
}
  
  .snip1533 h4 {
	font-weight: 400;
	margin: 0;
	opacity: 0.5;
}
  
  .snip1533 blockquote {
	font-style: italic;
	font-weight: 300;
	margin: 0 0 20px;
}


/* MISSION */

#mission{
	padding: 7.5rem 40rem 7.5rem 40rem;
	text-align: center;
	
}
#mission h2{
	font-weight: lighter;
	font-size: 1rem;
	color:#222222;
	padding-bottom: 1rem;
}
#mission p{
	font-size: 0.9rem;
	padding-bottom: 1rem;
	text-align: justify;
	text-indent: 2rem;
	line-height: 1.5rem;
}



.footer {
	background-color: #222222;
	position: relative;
	padding-top: 2rem;
	min-height: 10vh;
	text-align: center;
	color: floralwhite;
}


@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}


/* RESPONSIVE DESIGN */
@media(max-width:992px){
	.navbar .links,
	.navbar .action_btn{
		display: none;
	}
}

@keyframes fade-right {
	0% { opacity: 0; 
		transform: translateX(-30px) scale(1);
	}
	100% { opacity: 1; 
		transform: translate(0px)scale(1);
	}
  }
  @keyframes fade-in {
	0% { opacity: 0; 
		
	}
	100% { opacity: 1; 
		
	}
  }